h1{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}
/*Testing comments*/
h2{

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffd700;
}
a{
    color: blueviolet;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
            
    

}


#link1{

    color: #ffd700;

}
#link2{
    color: orangered;
}

.everything{

    background-color: beige;
    margin: 2px 12px 8px;

}

.container{
    display: flex;
    align-items: center;
    background-color: beige;
}

.photo{
    margin-right: 20 px;
    width: 100px; /* Makes the photo smaller */
    height: auto; /* Keeps the aspect ratio */
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}